@use "sass:color";

:root {
    $logo-color: #002f6c;
    /* --highlight: #{color.scale($logo-color, $lightness: 10%)}; */
    --highlight: #{$logo-color};
    --highlight-text: #{$logo-color};
    --highlight-text-hover: #{lighten($logo-color, 15%)};
    --highlight-text-active: #{darken($logo-color, 10%)};
    --background: #f4f6f9;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    min-height: 100vh;
    padding: 2em;
    font-family: Open Sans;
    font-size: 18px;
}

.logo {
    display: flex;
    justify-content: space-evenly;

    img {
        max-width: 100%;
    }
}

h1 {
    color: var(--highlight-text);
    text-align: center;
    margin: 1.5rem 0;
}

h2 {
    color: var(--highlight-text);
    font-size: 2em;
    padding-bottom: 0.33rem;
    border-bottom: 2px solid var(--highlight);
}

h3 {
    color: var(--highlight-text);
    font-size: 1.5em;
}

hr {
    margin: 2em 0;
    border: none;
    border-bottom: 2px solid var(--highlight);
}

:link,
:visited {
    color: var(--highlight-text);
}

a {
    &:hover,
    &:focus {
        color: var(--highlight-text-hover);
    }
    &:active {
        color: var(--highlight-text-active);
    }
}

ul img {
    width: 220px;
    max-width: 100%;
}

ul.horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

ul.horizontal > li {
    list-style: none;
}

menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1.5em 0;
    padding: 0;
    border-bottom: 2px solid var(--highlight);
}

menu > li {
    list-style: none;
    margin: 0;
}

menu a {
    &:link,
    &:visited {
        color: inherit;
    }
    text-decoration: unset;
    font-weight: 600;

    display: inline-block;
    padding: 0.5em 0.8em;

    &.current {
        background: var(--highlight);
        color: white;

        &:hover,
        &:focus {
            background: var(--highlight);
        }
    }

    &:hover,
    &:focus {
        background: darken(white, 10%);
    }

    &:focus {
        outline: 2px solid var(--highlight);
    }
}

main {
    // Make sure that one can scroll the text to a comfortable height
    min-height: 100vh;

    img {
        max-width: 100%;
    }
}

.supporter {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 120px;
    margin: 0.5em 0;

    p:nth-child(1) {
        width: 240px;
        max-width: 100%;
        margin: 0.5em 0;
    }

    &.padding-7 p:nth-child(1) {
        padding: 7px;
    }

    img {
        width: 100%;
        max-width: 240px;
        vertical-align: middle;
    }

    p:nth-child(2) {
        flex-grow: 1;
        margin: 0.5em 1.5em;
        flex-basis: 0;
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;

        p:nth-child(2) {
            margin: 1em 0;
        }
    }
}

.schedule {
    overflow-y: scroll;
}

.schedule > table {
    border-collapse: collapse;
    // Air to layout
    & > tbody > tr > td,
    & > thead > tr > th {
        padding: 0.33rem 0.8rem;
    }
    & > tbody > tr:first-child > td {
        padding-top: 0.66rem;
    }
    // Headers
    & > thead > tr > th {
        border-bottom: 2px solid var(--highlight);
        font-weight: 600;
        text-align: left;
    }
    // Time column
    & > tbody > tr > td:first-child {
        font-weight: 600;
        width: 8em;
        font-variant-numeric: tabular-nums;
    }
    // Event column
    & > tbody > tr > td:nth-child(2) {
        min-width: 10em;
    }
    // Place column
    & > tbody > tr > td:nth-child(3) {
        min-width: 10em;
    }
}

#map {
    height: 500px;
}

.footnote-definition {
    & > sup {
        display: inline-block;
        width: 1.5ex;
        margin-left: -1.5ex;
    }
    & > sup + p {
        display: inline-block;
    }
}

.scoreboard > table {
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    & > tbody > tr > td,
    & > tbody > tr > th {
        border-style: solid;
        border-width: 1px;
        font-size: 11pt;
        padding: 0.1rem 0.4rem;
    }
}
