* {
    --highlight: #36CD98;
    --background: #E3EBE3;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

body {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fff;
    min-height: 100vh;
    padding: 2em;
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 2px solid var(--highlight);
}

hr {
    margin: 2em 0;
    border: none;
    border-bottom: 3px solid var(--highlight);
}

ul img {
    height: 60px;
}

ul.horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

ul.horizontal > li {
    list-style: none;
}
