<!doctype html>
{% set root = get_section(path="_index.md") %}
{% if page.title %}
    {% set page_title = " - " ~ page.title %}
{% elif section.title %}
    {% set page_title = " - " ~ section.title %}
{% else %}
    {% set page_title = "" %}
{% endif %}
{% if current_url and current_url == root.permalink %}
    {% set page_title = "" %}
{% endif %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BOI 2026{{ page_title }}</title>
        <link href="/boi.css?4" rel="stylesheet" />
        <link href="/fonts.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="BOI 2026" />
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body>
        <picture class="logo">
            <img
                src="/assets/logo-crop.svg"
                alt="32nd Baltic Olympiad in Informatics, Espoo, Finland, 15&ndash;19 April 2026"
            />
        </picture>
        {% if root.pages %}
            <menu>
                <li>
                    <a href="{{ root.permalink | safe }}"
                        {% if current_url %}
                            {% if current_url == root.permalink %}class="current"{% endif %}
                        {% endif %}
                        >{{ root.title }}</a>
                </li>
                {% for page in root.pages %}
                    <li>
                        <a href="{{ page.permalink | safe }}"
                            {% if current_url %}
                                {% if current_url == page.permalink %}class="current"{% endif %}
                            {% endif %}
                            >{{ page.title }}</a
                        >
                    </li>
                {% endfor %}
            </menu>
        {% else %}
            <hr />
        {% endif %}
        <main>{% block content %}</main>
        {% endblock content %}
    </body>
</html>
