<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BOI 2026</title>
        <link href="/boi.css" rel="stylesheet" />
        <link href="/fonts.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <picture class="logo">
            <img
                src="/assets/logo-crop.svg"
                alt="32nd Baltic Olympiad in Informatics, Espoo, Finland, 15&ndash;19 April 2026"
            />
        </picture>
        {% set root = get_section(path="_index.md") %}
        {% if root.pages %}
            <menu>
                <li>
                    <a href="{{ root.permalink | safe }}"
                        {% if current_url %}
                            {% if current_url == root.permalink %}class="current"{% endif %}
                        {% endif %}
                        >{{ root.title }}</a>
                </li>
                {% for page in root.pages %}
                    <li>
                        <a href="{{ page.permalink | safe }}"
                            {% if current_url %}
                                {% if current_url == page.permalink %}class="current"{% endif %}
                            {% endif %}
                            >{{ page.title }}</a
                        >
                    </li>
                {% endfor %}
            </menu>
        {% else %}
            <hr />
        {% endif %}
        <main>{% block content %}</main>
        {% endblock content %}
    </body>
</html>
